// Button style copied from Pisces.styl
$read-more-color              = $text-color
$read-more-bg-color           = white
$read-more-border-radius      = 2px
$btn-default-border-color     = $text-color
$btn-default-hover-color      = white
$btn-default-hover-bg         = $black-deep
